body{
    text-align: center;
    padding-top: 150px;
    background-color: rgb(234, 209, 178);
}

#div1{
    word-spacing: 50px;
    margin-top: 50px;
    margin-left: 40px;
}

.output,#findtext,#replacetext{
    margin-top: 30px;
    font-size: 15px;
}

.output{
    margin-left: 180px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#findtext{
    margin-left: 40px;
    /* margin-right: 20px; */
    width: 80px;
    height: 30px;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}

#replacetext{
    margin-left: 40px;
    width: 80px;
    height: 30px;
    color: brown;
    font-weight: bold;
    font-size: 15px;
}

#div2{
    margin-right: 70px;
}

#div3{
    margin-top: 40px;
    margin-left: 170px;
}

.findoutput{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
}

#reptext{
    margin-left: 90px;
    width: 80px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    color: darkgreen;
}

#text{
    font-size: 20px;
}

#btn{
    margin-top: 50px;
    margin-left: 18rem;
    background-color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}

#clearbtn{
    margin-top: 30px;
    font-size: 20px;
    background-color: gray;
}